/* navegador*/
.logo {
	width: 50px;
}

.nave1 {
	ul {
		li {
			a {
				&:hover {
					border-bottom: 2px solid rgb(136, 4, 132);
				}
			}
		}
	}
}

.nombre {
	font-size: 30px;
	text-align: center;
	color: $color_1;
}

.nombre1 {
	font-size: 20px;
	text-align: center;
	color: $color_1;
}






/** footer **/
@keyframes animacion {
	0% {
		box-shadow: 0 0 40px blueviolet;
	}

	25% {
		box-shadow: 0 0 60px blueviolet;
	}

	50% {
		box-shadow: 0 0 100px blueviolet;
	}

	75% {
		box-shadow: 0 0 60px blueviolet;
	}

	100% {
		box-shadow: 0 0 40px blueviolet;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $background-color_1;
}

.logo {
	width: 50px;
}

.nave1 {
	ul {
		li {
			a {
				&:hover {
					border-bottom: 2px solid rgb(136, 4, 132);
				}
			}
		}
	}
}

.nombre {
	font-size: 30px;
	text-align: center;
	color: $color_1;
}

.nombre1 {
	font-size: 20px;
	text-align: center;
	color: $color_1;
}

.pie-pagina {
	width: 100%;
	background-color: $background-color_2;

	.grupo1 {
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		padding: 45px 0px;

		.box {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			h3 {
				color: $color_2;
				margin-bottom: 25px;
				font-size: 20px;
				text-align: center;
			}

			p {
				color: $color_3;
				margin-bottom: 10px;
			}
		}

		.red-social {
			a {
				display: inline-block;
				text-decoration: none;
				width: 45px;
				height: 45px;
				line-height: 45px;
				color: $color_2;
				margin-right: 10px;
				background-color: $background-color_3;
				text-align: center;
			}
		}
	}

	.grupo2 {
		background-color: $background-color_4;
		padding: 15px 10px;
		text-align: center;
		color: $color_2;

		small {
			font-size: 15px;
		}
	}
}

.imagenpie {
	width: 150px;
	box-shadow: blueviolet;
	animation-name: animacion;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}