/* compartido todos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

/* navegador */
.logo {
    width: 50px;
}

.nave1 ul li a:hover {
    border-bottom: 2px solid rgb(136, 4, 132);
}


/* nombre de la empresa */
.nombre {
    font-size: 30px;
    text-align: center;
    color: blueviolet;
}

.nombre1 {
    font-size: 20px;
    text-align: center;
    color: blueviolet;
}

/* footer */
.pie-pagina {
    width: 100%;
    background-color: black;
}

.pie-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenpie {
    width: 150px;
    box-shadow: blueviolet;
}
@keyframes animacion{
    0%{box-shadow: 0 0 40px blueviolet;}
    25%{box-shadow: 0 0 60px blueviolet;}
    50%{box-shadow: 0 0 100px blueviolet;}
    75%{box-shadow: 0 0 60px blueviolet;}
    100%{box-shadow: 0 0 40px blueviolet;}
}
.imagenpie{animation-name: animacion;
animation-iteration-count: infinite;
animation-delay: 1s;
animation-timing-function: ease-in;
animation-duration: 3s;}


.pie-pagina .grupo1 .box h3 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
}

.pie-pagina .grupo2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px;
    }
}

/* fin de estilo compartido */

/* index.html */
.carrusel {
    width: 50%;
    margin-left: 25%;

}

.pindex {
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Lobster', cursive;
}

/* contacto.html */
.tituloform {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.formulariocontacto {
    background-color: rgba(0, 199, 46, 0.489);
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 7px;
  
}

.formulariocontacto input,
textarea {
    
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Lobster', cursive;
    border: none;
}
.formulariocontacto textarea{
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}

.formulariocontacto .boton{background: #00ff11;
padding: 20px;
}



@media(max-width: 480px) {
    .formulariocontacto{width: 100%;}
}


/* cv.html */

.formulariocv{text-decoration: none; 
    background-color: rgba(121, 2, 89, 0.685);
    display: inline-table;
    margin-bottom: 20px;margin-top: 10px;
    font-size: 18px;font-family: 'Lobster', cursive;
    margin-left: 500px;}

/* proyectos anteriores */


/* quienes somos */





